:root {
    --primary: #272727;
    --secondry: #FF4400;
    --text: #474747;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, sans-serif;   
}
html{
    scroll-behavior: smooth;
}
header, main, footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
    padding: 20px;
}
header>*, main>*, footer>*{
    width: min(1000px, 100%);
    display: flex;
}
img{
    max-width: 100%;
    height: auto;
}
p, li,a, label, input, caption, td{
    color: var(--text);
    line-height: 1.4;
}
h1, h2, h3, th{
    font-weight: 700;
    line-height: 1.2;
    color: var(--primary);
}
hr{
    border-bottom: 1px solid gainsboro;
}
.clr{
    color: var(--secondry);
}




header{
    box-shadow: 0 0 4px rgb(221, 221, 221);
}
.header{
    justify-content: space-between;
    align-items: center;
}
.logo{
    display: flex;
    align-items: center;
    gap: 8px;
    color: var(--primary);
    font-weight: 500;
}
nav{
    display: flex;
    gap: 40px;
    align-items: center;
}
.header>img, nav>img{
    display: none;
}






.clm{
    display: flex;
    flex-direction: column;
}
.wrap{
    display: flex;
    flex-wrap: wrap;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}
caption{
    margin-bottom: 12px;
}
th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}
th {
    background-color: #e2e2e2;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:hover {
    background-color: #f2f2f2;
}
p, li{
    margin-top: 12px;
    font-size: 18px;
}


ul, ol{
    padding-left: 20px;
}
.effect>a, .hover{
    transition: 0.5s ease-in-out;
    cursor: pointer;
}
.effect>a:hover, .hover:hover{
    transform: translateY(-5px);
}
.hover:hover{
    box-shadow: 0px 0px 4px rgb(94, 94, 94);
}

main>*{
    margin: 24px 0px;
}







footer{
    background-color: var(--primary);
    padding-top: 48px;
}
.footer>.logo{
    color: white;
}
.footer>p, .site>a{
    font-size: 16px;
}
.footer>p, .site>a, footer>small{
    color: rgb(194, 194, 194);
}
.wrap{
    margin-top: 12px;
    gap: 20px;
}
.social>a{
    font-size: 0;
}
.social>a>img{
    background-color: white;
    padding: 4px;
    border-radius: 50%;
}
@media(max-width:600px){
    .header>img, nav>img{
        display: flex;
    }
    nav{
        position: fixed;
        top: 0;
        right: 0;
        height: 70%;
        width: 0;
        opacity: 0;
        overflow: hidden;
        justify-content: center;
        background-color: var(--primary);
        flex-direction: column;
        transition: width 0.5s ease-in-out, opacity 0.5s ease-in-out;
    }
    nav>a{
        color: #fff;
    }
    nav>img{
        position: absolute;
        top: 20px;
        right: 20px;
    }
    nav.show {
        opacity: 1;
        width: 60%;
    }
}
